<a href="https://colab.research.google.com/github/sam1365/Python-Crash-Course-Exercises/blob/master/ch_06_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Chapter 6: Dictionaries

##Exercise 6-1: Person

In [0]:
person = {
    'first_name': 'sadeq',
    'last_name': 'sadeqi',
    'age': 32,
    'city': 'saveh',
}

print(person['first_name'])
print(person['last_name'])
print(person['age'])
print(person['city'])

sadeq
sadeqi
32
saveh

##Exercise 6-2: Favorite Numbers

In [0]:
favorite_numbers  = {
    'jim' : 7,
    'john' : 8,
    'anna' :10,
    'aria' : 1,
    'monica' : 11,
}

print( "Jim favorite number is: " + str(favorite_numbers['jim']))
print( "john favorite number is: " + str(favorite_numbers['john']))
print( "anna favorite number is: " + str(favorite_numbers['anna']))
print( "aria favorite number is: " + str(favorite_numbers['aria']))
print( "monica favorite number is: " + str(favorite_numbers['monica']))

Jim favorite number is: 7
john favorite number is: 8
anna favorite number is: 10
aria favorite number is: 1
monica favorite number is: 11

##Exercise 6-5: Rivers

In [0]:
rivers = {
    'nile' : 'egypt',
    'amazon' : 'brazil',
    'yangtze' : 'china',
}

for river in rivers:
    print("The " + river.title() + " runs through " + rivers[river].title())

The Nile runs through Egypt
The Amazon runs through Brazil
The Yangtze runs through China

In [0]:
for river in rivers:
    print(river.title())

Nile
Amazon
Yangtze

In [0]:
for river in rivers:
    print(rivers[river].title())

Egypt
Brazil
China

Exercise 6-6: Polling

In [0]:
favorite_languages = {
'jen': 'python',
'sarah': 'c',
'edward': 'ruby',
'phil': 'python',
}

people_poll = ['smith', 'anjelina', 'brad', 'jen', 'aria', 'phil']

for people in people_poll:
    if people in favorite_languages.keys():
        print(people.title() + " thank for your response!")
    else:
        print(people.title() + " we invite you take the poll!")

###Exercise 6-7: People

In [0]:
person1 = {
    'first_name': 'sadeq',
    'last_name': 'sadeqi',
    'age': 32,
    'city': 'saveh',
}
person2 = {
    'first_name': 'javad',
    'last_name': 'heydari',
    'age': 34,
    'city': 'isfahan',
}
person3 = {
    'first_name': 'milad',
    'last_name': 'sadeqi',
    'age': 30,
    'city': 'saveh',
}

people = [person1, person2, person3]

for person in people:
  print(person)

{'first_name': 'sadeq', 'last_name': 'sadeqi', 'age': 32, 'city': 'saveh'}
{'first_name': 'javad', 'last_name': 'heydari', 'age': 34, 'city': 'isfahan'}
{'first_name': 'milad', 'last_name': 'sadeqi', 'age': 30, 'city': 'saveh'}

###Exercise 6-8: People

In [0]:
turtle = {
    'species' : 'reptile',
    'owner' : 'ali'
}

fish = {
    'species' : 'aquatic',
    'owner' : 'mehdi'
}

cat = {
    'species' : 'Feliformia',
    'owner' : 'reza'
}

dog = {
    'species' : 'Canidae',
    'owner' : 'hasan'    
}

hamster = {
    'species' : 'Cricetidae',
    'owner' : 'hamid'    
}

pets = [turtle, fish, cat, dog, hamster]

for pet in pets:
    print(pet)

{'species': 'reptile', 'owner': 'ali'}
{'species': 'aquatic', 'owner': 'mehdi'}
{'species': 'Feliformia', 'owner': 'reza'}
{'species': 'Canidae', 'owner': 'hasan'}
{'species': 'Cricetidae', 'owner': 'hamid'}

###Exercise 6-9: Favorite Places

In [0]:
favorite_places = {
    'ali' : ['Niagara Falls', 'Himalayas', 'Amazon'],
    'hadi': ['russia', 'bankok', 'france'],
    'mehdi' : ['china', 'africa', 'brazil']
}

for name, places in favorite_places.items():
    print("\n" + name.title() + "'s favorite places are:")
    
    for place in places:
        print("\t" + place.title())

Ali's favorite places are:
	Niagara Falls
	Himalayas
	Amazon

Hadi's favorite places are:
	Russia
	Bankok
	France

Mehdi's favorite places are:
	China
	Africa
	Brazil

###Exercise 6-10: Favorite Numbers

In [0]:
favorite_numbers  = {
    'jim' : [7, 10, 12],
    'john' : [8],
    'anna' :[11, 34, 23],
    'aria' : [22, 18, 221],
    'monica' : [1,2,3,4]
}

for name, numbers in favorite_numbers.items():
    print("\n" + name.title() + "'s favorite numbers are:")
    
    for number in numbers:
        print("\t" + str(number))

Jim's favorite numbers are:
	7
	10
	12

John's favorite numbers are:
	8

Anna's favorite numbers are:
	11
	34
	23

Aria's favorite numbers are:
	22
	18
	221

Monica's favorite numbers are:
	1
	2
	3
	4

##Exercise 6-11: Cities

In [0]:
cities = {
    'shiraz' : {
        'country' : 'iran',
        'population' : 1869001,
        'fact' : 'best wine'
    },
    'paris' : {
        'country' : 'France',
        'population' :  2140526,
        'fact' : 'capital of fashion'        
    },
    'New York City' : {
        'country' : 'america',
        'population' : 8622698,
        'fact' : ' Home to the headquarters of the United Nations'
    }
}

for city, features in cities.items():
    print("\n" + "Some informations about " + city.title() )
    
    print( city.title() + " belongs to " + features['country'].title() )
    print( "\n Population of " + city.title() + " is : " + str(features['population']))
    print( "\n Interesting fact about " + city.title() + " is : " + features['fact'].title())

Some informations about Shiraz
Shiraz belongs to Iran

 Population of Shiraz is : 1869001

 Interesting fact about Shiraz is : Best Wine

Some informations about Paris
Paris belongs to France

 Population of Paris is : 2140526

 Interesting fact about Paris is : Capital Of Fashion

Some informations about New York City
New York City belongs to America

 Population of New York City is : 8622698

 Interesting fact about New York City is :  Home To The Headquarters Of The United Nations